name: Sample PR Builder for CongaHelper

on:
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: windows-2022

    env:
      Solution_Name: CongaHelper

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Install .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.0.x

    - name: Download Dalamud
      run: |
        Invoke-WebRequest -Uri https://goatcorp.github.io/dalamud-distrib/latest.zip -OutFile latest.zip
        Expand-Archive -Force latest.zip "$env:AppData\XIVLauncher\addon\Hooks\dev"

    - name: Build with dotnet
      run: dotnet build --configuration Release

    - name: Store artifacts
      uses: actions/upload-artifact@v4
      with:
        name: CongaHelper
        path: .\CongaHelper\bin\x64\Release\CongaHelper\*
        if-no-files-found: error
        retention-days: 1

